.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cards__item {
  display: flex;
  width: 240px;
  height: 240px;
  color: #efe3f1;
  margin: 10px 10px 0 0;
  background-color: #a470ad;
  position: relative;
}

.cards__item-title {
  position: absolute;
  bottom: 10px;
  left: 15px;
  margin: 0;
  font-size: 24px;
}

.cards__item_blur:hover {
  box-shadow: 0px 0px 50px #412645;
}

.cards__item_shadow:hover {
  box-shadow: 10px 10px 10px #764e7b;
}

.cards__item_linear-gradient:hover {
  background-image: linear-gradient(#fbf8fc, #412645);
}
.cards__item_radial-gradient:hover {
  background-image: radial-gradient(#fbf8fc, #412645);
}
